# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/2_Basics_and_Components/React_Expense_Tracker/node_modules
/2_Basics_and_Components/React_Expense_Tracker/.eslintcache